:root {
  background-color: #3c3c3c;
  color: wheat;

}

.hiddenClass {
  display: none !important;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "head  head"
    "write preview";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 70%;
}

header {
  grid-area: head;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "title open comm"
    "title brain brain"
    "title save save";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 40% 30%;
  max-height: 15rem;
}

header .brain {
  grid-area: brain;
  display: grid;
}

.brain input[type=text] {
  background-color: #222;
  color: wheat;
}

.brain button {
  background-color: #888;
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  width: 40%;
  margin: 0 auto;
  margin-top: 0.5rem;

  &:hover {
    background-color: wheat;
    color: rgb(255, 255, 255);
  }
}

header .open {
  grid-area: open;
}

header .save {
  grid-area: save;

}

.save p {
  display: inline;
}

header h1 {
  grid-area: title;
  font-size: 2rem;
  font-weight: bold;
}

header #command {
  grid-area: comm;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  overflow: hidden;
  color: wheat;
  height: 80%;
}

header .CommAnimated {
  /* background-image: url(./assets/images/comm.png); */
  animation: textMove 8s ease-in 1s infinite both;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  color: wheat;
}

@keyframes textMove {
  0% {
    background-position: 0rem;
  }

  100% {
    background-position: 160rem;
  }
}

#editor,
#preview {
  overflow: auto;
  max-height: max-content;
}

#editor {
  grid-area: write;
  resize: none;
  min-height: max-content;
  background-color: #3c3c3c;
  color: wheat;
}

#preview {
  color: wheat;
  grid-area: preview;
  border: 1px solid salmon;
  min-height: max-content;
}