:root {
  background-color: #3c3c3c;
  color: wheat;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "editor preview";
  grid-template-rows: 15vh auto;
  grid-template-columns: repeat(2, 50%)
}

.container>header {
  grid-area: header;
  font-size: 4rem;
}

.hiddenClass {
  display: none !important;
}


#editor,
#preview {
  font-size: 2.5rem;
  overflow: auto;
  max-height: max-content;
  min-height: 80vh;
  padding: 1rem;
}

#editor {
  grid-area: editor;
  resize: none;
  background-color: #3c3c3c;
  color: wheat;
}

#preview {
  grid-area: preview;
  color: wheat;
  border: 1px solid salmon;
}


#command-line {
  background-color: rgba(0, 0, 0, 0);
  color: wheat;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  resize: none;

  &:hover {
    cursor: crosshair;
  }
}

#mode-display {
  background-color: rgba(0, 0, 0, 0);
  color: wheat;
  font-size: 4rem;
  position: absolute;
  top: 2rem;
  right: 0;
  border: none;
  resize: none;
}