:root {
  background-color: #3c3c3c;
  color: wheat;
  display: grid;
  grid-template-areas:
    "header header"
    "write preview";
  grid-template-rows: 20% 80%;
  grid-template-columns: 50% 50%;
}

header {
  grid-area: header;
}

.hiddenClass {
  display: none !important;
}


#editor,
#preview {
  overflow: auto;
  max-height: max-content;
  min-height: 80vh;
}

#editor {
  grid-area: write;
  resize: none;
  min-height: max-content;
  background-color: #3c3c3c;
  color: wheat;
}

#preview {
  grid-area: preview;
  color: wheat;
  border: 1px solid salmon;
  min-height: max-content;
}